.portfolio-section {
  height: 190vh;
  width: 100%;
  position: relative;
}
#dark .portfolio-section {
  background-color: #2e0a34;
}
#light .portfolio-section {
  background-color: #fbeeff;
}
.portfolio-main {
  height: 70%;
}
.heading-container {
  display: flex;
  justify-content: center;
  /* position: absolute; */
}
.p-heading {
  font-weight: 700;
  font-size: 47.6px;
  line-height: 62px;
  text-shadow: 0px 4.76px 4.76px rgba(0, 0, 0, 0.25);

  /* position: absolute; */
}
#dark .p-heading {
  color: #fff;
}
#light .p-heading {
  color: #000;
}

.p-img {
  position: absolute;
  right: 60rem;
  top: 80px;
  animation: imgAnim 1.8s infinite ease-in-out;
  /* position: absolute; */
}
@keyframes imgAnim {
  0% {
    transform: translateY(0);
    transform: scale(100%);
  }
  50% {
    transform: translateY(-20px);
    transform: scale(120%);
  }
  100% {
    transform: translateY(0);
    transform: scale(100%);
  }
}
.portfolio-content {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 0; */
  /* transform: scale(0.7); */
  /* position: relative; */
  /* top: -130px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 30px;
}
.p-menu,
.p-menu-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-li-item {
  list-style: none;
  text-decoration: none;

  font-weight: 400;
  font-size: 24px;
  line-height: 31px;

  padding: 0.5rem 1rem;

  transition: color 0.2s ease-in-out;
}
#dark .p-li-item {
  color: #fff;
}
#light .p-li-item {
  color: #000;
}
.p-menu-ul {
  background: rgba(36, 168, 242, 0.1);
  border-radius: 14px;
  padding-right: 1.5rem;
  position: relative;
  z-index: 100;
  transition: background-color 5s ease-in-out;
}
#dark .p-menu-ul .p-li-item:hover {
  color: #000;
}
#light .p-menu-ul .p-li-item:hover {
  color: #000;
}
.p-menu-ul .p-li-item:hover {
  color: #000;
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(255, 221, 60, 0.8),
      rgba(255, 221, 60, 0.8)
    ),
    radial-gradient(
      50% 50% at 44.85% 56.67%,
      #ffff00 13.54%,
      rgba(255, 255, 0, 0) 100%
    );
  border-radius: 26.5285px;
}
.p-menu {
  margin-top: 3.5rem;
}
.portfolio-btn {
  font-weight: 400;
  font-size: 32.5234px;

  color: #000;
  background: linear-gradient(
      0deg,
      rgba(255, 221, 60, 0.8),
      rgba(255, 221, 60, 0.8)
    ),
    radial-gradient(
      50% 50% at 44.85% 56.67%,
      #ffff00 13.54%,
      rgba(255, 255, 0, 0) 100%
    );
  outline: none;
  border: none;
  border-radius: 31.2725px;
  padding: 0.5rem 1rem;
  position: relative;
  /* top: -285px; */
  z-index: 500;

  left: 72.5rem;
}
.portfolio-btn:hover {
  cursor: pointer;
}
@media only screen and (max-device-width: 1024px) {
  .p-img {
    right: 33rem;
    top: 26px;
  }
  .p-menu {
    margin-bottom: 1.5rem;
    margin-top: -1rem;
  }
  .portfolio-btn {
    left: 33.5rem;
    top: -208px;
    font-size: 24px;
  }
}
@media only screen and (max-device-width: 640px) {
  .p-menu-ul {
    padding: 0;
  }
  .portfolio-content {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1270px) and (max-width: 1605px) {
  .portfolio-section {
    height: 210vh;
  }
  .portfolio-btn {
    left: 61.5rem;
  }
}
.p-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 79%;
  margin: 30px 0px;
}
.p-title {
  font-weight: 700;
  font-size: 40.6px;
  line-height: 62px;
  text-shadow: 0px 4.76px 4.76px rgba(0, 0, 0, 0.25);
  background: rgba(36, 168, 242, 0.1);
  border-radius: 14px;
  border-radius: 14px;
  padding: 0 1rem;
}
.p-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
